
@{
    ViewBag.Title = "New";
}

<h2>New Studio</h2>

<form action="/Studio/Create" method="post">
    <div>
        <label>Name:</label> <input type="text" name="StudioName" />
    </div>
    <div>
        <input type="submit" value="Add Studio" />
    </div>

</form>